doctype html
html
    head
        title node-dashboard
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(http-equiv="refresh", content="100")
        style
            include ../node_modules/psychic-ui/dist/psychic-perisian-min.css
        script
            include bundle.js
        style.
            .grid {
                overflow: hidden;
            }
            .icon {
                display: block;
                color: white;
                fill: currentColor
            }
            .nav > a {
                display: block;
                padding-bottom: 15px;
            }
            .nav > a:hover, .nav > a:hover .icon {
                border: 0;
                color: rgb(177, 177, 177);
            }
    body
        div.navbar.navbar-black
            div.container
                div.navbar-title(style="margin-top:25px;") node-dashboard
                div.nav
                    a(href="https://github.com/gabrielcsapo/node-dashboard")
                        svg(height="32" class="icon" viewBox="0 0 16 16" version="1.1" width="64" aria-hidden="true")
                            path(d="M14.7 5.34c.13-.32.55-1.59-.13-3.31 0 0-1.05-.33-3.44 1.3-1-.28-2.07-.32-3.13-.32s-2.13.04-3.13.32c-2.39-1.64-3.44-1.3-3.44-1.3-.68 1.72-.26 2.99-.13 3.31C.49 6.21 0 7.33 0 8.69 0 13.84 3.33 15 7.98 15S16 13.84 16 8.69c0-1.36-.49-2.48-1.3-3.35zM8 14.02c-3.3 0-5.98-.15-5.98-3.35 0-.76.38-1.48 1.02-2.07 1.07-.98 2.9-.46 4.96-.46 2.07 0 3.88-.52 4.96.46.65.59 1.02 1.3 1.02 2.07 0 3.19-2.68 3.35-5.98 3.35zM5.49 9.01c-.66 0-1.2.8-1.2 1.78s.54 1.79 1.2 1.79c.66 0 1.2-.8 1.2-1.79s-.54-1.78-1.2-1.78zm5.02 0c-.66 0-1.2.79-1.2 1.78s.54 1.79 1.2 1.79c.66 0 1.2-.8 1.2-1.79s-.53-1.78-1.2-1.78z")
        div.grid
            div.col-lg-3-12.col-md-4-12.col-sm-12-12.col-xs-12-12
                div.panel(style="margin:10px;border-radius:5px;")
                    div.panel-header
                        h2
                            i System Info
                    div.panel-body(style="height:325px;")
                        ul.list(style="padding:50px;")
                            li.list-item.list-item-black
                                div.list-item-left Version
                                div.list-item-right
                                    div.badge.badge-white=info.version
                            li.list-item.list-item-black
                                div.list-item-left Memory
                                div.list-item-right
                                    div.badge.badge-white=info.memory
                            li.list-item.list-item-black
                                div.list-item-left Heap
                                div.list-item-right
                                    div.badge.badge-white=info.heap

            div.col-lg-3-12.col-md-4-12.col-sm-12-12.col-xs-12-12
                div.panel(style="margin:10px;border-radius:5px;")
                    div.panel-header
                        h2
                            i Memory Usage
                    div.panel-body(id="memory-graph" data-storedvalues=os.mem)
                        canvas(height="325")
            div.col-lg-3-12.col-md-4-12.col-sm-12-12.col-xs-12-12
                div.panel(style="margin:10px;border-radius:5px;")
                    div.panel-header
                        h2
                            i CPU Usage
                    div.panel-body(id="cpu-graph" data-storedvalues=os.cpu)
                        canvas(height="325")
            div.col-lg-3-12.col-md-4-12.col-sm-12-12.col-xs-12-12
                div.panel(style="margin:10px;border-radius:5px;")
                    div.panel-header
                        h2
                            i Heap Usage
                    div.panel-body(id="heap-graph" data-storedvalues=os.heap)
                        canvas(height="325")

        each d, i in traffic
            div
                br
                h3.text-center=d.domain
                div.grid(data-storedvalues=d)
                    div.col-lg-12-12.col-sm-12-12.col-xs-12-12
                        div(id=d.domain + "-traffic")
                            canvas

                    div.col-lg-4-12.col-sm-12-12.col-xs-12-12
                        div.panel(style="margin:10px;border-radius:5px;")
                            div.panel-header
                                h2
                                    i Country Hits
                            div.panel-body
                                form(id=d.domain + "-countries")
                                    div.nav-tab(style="height:525px;")
                                        ul
                                            li
                                                input(type="radio" name="nav-tab-label" id="label-graph-countries-" + d.domain)
                                                label(for="label-graph-countries-" + d.domain) Graph
                                                div(style="background-color: transparent;")
                                                    canvas
                                            li
                                                input(type="radio" name="nav-tab-label" id="label-table-countries-" + d.domain)
                                                label(for="label-table-countries-" + d.domain) Table
                                                div(style="background-color: transparent;")
                                                    table.table.responsive
                                                        thead
                                                          tr
                                                            th Country
                                                            th Hits
                                                        tbody
                                                          each hits, country in d.countries
                                                            tr
                                                                th=country
                                                                th=hits

                    div.col-lg-4-12.col-sm-12-12.col-xs-12-12
                        div.panel(style="margin:10px;border-radius:5px;")
                            div.panel-header
                                h2
                                    i Browsers
                            div.panel-body
                                form(id=d.domain + "-browsers")
                                    div.nav-tab(style="height:525px;")
                                        ul
                                            li
                                                input(type="radio" name="nav-tab-label" id="label-graph-browsers-" + d.domain)
                                                label(for="label-graph-browsers-" + d.domain) Graph
                                                div(style="background-color: transparent;")
                                                    canvas
                                            li
                                                input(type="radio" name="nav-tab-label" id="label-table-browsers-" + d.domain)
                                                label(for="label-table-browsers-" + d.domain) Table
                                                div(style="background-color: transparent;")
                                                    table.table.responsive
                                                        thead
                                                          tr
                                                            th Browser
                                                            th Hits
                                                        tbody
                                                          each hits, browser in d.browsers
                                                            tr
                                                                th=browser
                                                                th=hits
                    div.col-lg-4-12.col-sm-12-12.col-xs-12-12
                        div.panel(style="margin:10px;border-radius:5px;")
                            div.panel-header
                                h2
                                    i OS
                            div.panel-body
                                form(id=d.domain + "-os")
                                    div.nav-tab(style="height:525px;")
                                        ul
                                            li
                                                input(type="radio" name="nav-tab-label" id="label-graph-os-" + d.domain)
                                                label(for="label-graph-os-" + d.domain) Graph
                                                div(style="background-color: transparent;")
                                                    canvas
                                            li
                                                input(type="radio" name="nav-tab-label" id="label-table-os-" + d.domain)
                                                label(for="label-table-os-" + d.domain) Table
                                                div(style="background-color: transparent;")
                                                    table.table.responsive
                                                        thead
                                                          tr
                                                            th OS
                                                            th Hits
                                                        tbody
                                                          each hits, _os in d.os
                                                            tr
                                                                th=_os
                                                                th=hits

                    div.col-lg-4-12.col-sm-12-12.col-xs-12-12
                        div.panel(style="margin:10px;border-radius:5px;")
                            div.panel-header
                                h2
                                    i Referrers
                            div.panel-body
                                form(id=d.domain + "-referrers")
                                    div.nav-tab(style="height:525px;")
                                        ul
                                            li
                                                input(type="radio" name="nav-tab-label" id="label-graph-referrers-" + d.domain)
                                                label(for="label-graph-referrers-" + d.domain) Graph
                                                div(style="background-color: transparent;")
                                                    canvas
                                            li
                                                input(type="radio" name="nav-tab-label" id="label-table-referrers-" + d.domain)
                                                label(for="label-table-referrers-" + d.domain) Table
                                                div(style="background-color: transparent;")
                                                    table.table.responsive
                                                        thead
                                                          tr
                                                            th Referrer
                                                            th Hits
                                                        tbody
                                                          each hits, referrer in d.referrers
                                                            tr
                                                                th=referrer
                                                                th=hits

                    div.col-lg-4-12.col-sm-12-12.col-xs-12-12
                        div.panel(style="margin:10px;border-radius:5px;")
                            div.panel-header
                                h2
                                    i Status
                            div.panel-body
                                form(id=d.domain + "-status")
                                    div.nav-tab(style="height:525px;")
                                        ul
                                            li
                                                input(type="radio" name="nav-tab-label" id="label-graph-status-" + d.domain)
                                                label(for="label-graph-status-" + d.domain) Graph
                                                div(style="background-color: transparent;")
                                                    canvas
                                            li
                                                input(type="radio" name="nav-tab-label" id="label-table-status-" + d.domain)
                                                label(for="label-table-status-" + d.domain) Table
                                                div(style="background-color: transparent;")
                                                    table.table.responsive
                                                        thead
                                                          tr
                                                            th Status
                                                            th Hits
                                                        tbody
                                                          each hits, status in d.status
                                                            tr
                                                                th=status
                                                                th=hits

                    div.col-lg-4-12.col-sm-12-12.col-xs-12-12
                        div.panel(style="margin:10px;border-radius:5px;")
                            div.panel-header
                                h2
                                    i Url Hits
                            div.panel-body
                                form(id=d.domain + "-urls")
                                    div.nav-tab(style="height:525px;")
                                        ul
                                            li
                                                input(type="radio" name="nav-tab-label" id="label-graph-urls-" + d.domain)
                                                label(for="label-graph-urls-" + d.domain) Graph
                                                div(style="background-color: transparent;")
                                                    canvas
                                            li
                                                input(type="radio" name="nav-tab-label" id="label-table-urls-" + d.domain)
                                                label(for="label-table-urls-" + d.domain) Table
                                                div(style="background-color: transparent;")
                                                    table.table.responsive
                                                        thead
                                                          tr
                                                            th Url
                                                            th Hits
                                                        tbody
                                                          each u in d.urls
                                                            tr
                                                                th=u.url
                                                                th=u.count

                    div.col-lg-4-12.col-sm-12-12.col-xs-12-12
                        div.panel(style="margin:10px;border-radius:5px;")
                            div.panel-header
                                h2
                                    i Url Average Response
                            div.panel-body
                                form(id=d.domain + "-urlAverageTime")
                                    div.nav-tab(style="height:525px;")
                                        ul
                                            li
                                                input(type="radio" name="nav-tab-label" id="label-graph-urlAverageTime-" + d.domain)
                                                label(for="label-graph-urlAverageTime-" + d.domain) Graph
                                                div(style="background-color: transparent;")
                                                    canvas
                                            li
                                                input(type="radio" name="nav-tab-label" id="label-table-urlAverageTime-" + d.domain)
                                                label(for="label-table-urlAverageTime-" + d.domain) Table
                                                div(style="background-color: transparent;")
                                                    table.table.responsive
                                                        thead
                                                          tr
                                                            th Url
                                                            th Average Time
                                                        tbody
                                                          each u in d.urlAverageTime
                                                            tr
                                                                th=u.url
                                                                th=u.time


                    div.col-lg-4-12.col-sm-12-12.col-xs-12-12
                        div.panel(style="margin:10px;border-radius:5px;")
                            div.panel-header
                                h2
                                    i Url Response Size
                            div.panel-body
                                form(id=d.domain + "-urlResponseSize")
                                    div.nav-tab(style="height:525px;")
                                        ul
                                            li
                                                input(type="radio" name="nav-tab-label" id="label-graph-urlResponseSize-" + d.domain)
                                                label(for="label-graph-urlResponseSize-" + d.domain) Graph
                                                div(style="background-color: transparent;")
                                                    canvas
                                            li
                                                input(type="radio" name="nav-tab-label" id="label-table-urlResponseSize-" + d.domain)
                                                label(for="label-table-urlResponseSize-" + d.domain) Table
                                                div(style="background-color: transparent;")
                                                    table.table.responsive
                                                        thead
                                                          tr
                                                            th Url
                                                            th Size
                                                        tbody
                                                          each u in d.urlResponseSize
                                                            tr
                                                                th=u.url
                                                                th=filesize(u.size)

                br
                hr.ellipsis
                br
                br
        script.
            document.addEventListener("DOMContentLoaded", function(event) {
                window.createOSGraphs();
                var grids = document.querySelectorAll('.grid');
                [].forEach.call(grids, function(grid) {
                    window.createGraphs(grid.dataset['storedvalues']);
                });
            });
